* {
  -webkit-tap-highlight-color: transparent;
}

button,
a,
[role="button"] {
  -webkit-tap-highlight-color: transparent;
}

a {
  text-decoration:  none;
}

body {
  background-color: rgba(200, 255, 204, 0.4)
}