* {
  -webkit-tap-highlight-color: transparent;
}

button,
a,
[role="button"] {
  -webkit-tap-highlight-color: transparent;
}

a {
  text-decoration:  none;
}

body {
  background-color: rgb(255, 255, 255)
}