:root {
    --kis-background : rgb(0, 106, 63);
    --kis-shadow : 0 4px 10px rgba(0, 0, 0, 0.4);
    --kis-container-shadow :
        0 -4px 6px rgba(0, 0, 0, 1),  /* top shadow */
        0 4px 6px rgba(0, 0, 0, 1);   /* bottom shadow */
}